// colors

$color-bg1: #292f36;
$color-bg2: #1a1e23;
$color-brand1: #12f7d6;
$color-brand2: #98faec;
$color-grey: #43454d;
$color-white: #fff;
$color-html: #e54f26;
$color-css: #0c73b8;
$color-js: #e7a020;
$color-react: #28a9e0;
