@import "./_reset";
@import "./_variables";
@import "./_utilities";
@import "https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap";

body {
  font-family: "Ubuntu", sans-serif;
  background-color: rgb(101, 170, 161);
}

header {
  background-color: $color-bg1;

  nav {
    max-width: 1920px;
    @include d-flex();
    @include container(0 auto, 24px);

    * {
      @include media-m;
      color: $color-white;
      text-decoration: none;
    }

    a,
    li {
      @include d-flex();
      justify-content: center;
    }

    .logo {
      span {
        color: $color-brand1;
      }
    }
  }

  .nav-bar-right-side {
    @include d-flex();
    max-width: 139px;
    width: 100%;

    ul {
      @include d-flex();
    }

    .nav-menu {
      max-width: 103px;
      width: 100%;

      li:first-child a {
        color: $color-brand1;
      }
    }

    .search-bar {
      display: none;
    }

    .social-links {
      display: none;

      span {
        display: none;
      }
    }
  }

  .line-container {
    max-width: 1920px;
    padding: 0 24px;
    border: 0;
    margin: 0;

    .header-bottom-line {
      width: 100%;
      height: 1px;
      border: none;
      background-color: $color-grey;
      margin: 0;
    }
  }
}

/* ================header On screens that are 768px or more */
@media screen and (min-width: 768px) {
  header {
    // background-color: $color-bg1;

    nav {
      // @include d-flex();
      @include container(0 auto, 24px 32px);

      // * {
      //   @include media-m;
      //   color: $color-white;
      //   text-decoration: none;
      // }

      // a,
      // li {
      //   @include d-flex();
      //   justify-content: center;
      // }

      .logo {
        @include menu-m;

        span {
          @include menu-m;

          //   color: $color-brand1;
        }
      }
    }

    .nav-bar-right-side {
      // @include d-flex();
      max-width: 391px;
      // width: 100%;

      ul {
        // @include d-flex();
      }

      .nav-menu {
        max-width: 119px;
        // width: 100%;

        li:first-child a {
          // color: $color-brand1;
        }
      }

      .search-bar {
        // display: none;
      }

      .only-search-icon {
        // width: 20px;
        // height: 20px;
      }

      .social-links {
        max-width: 124px;
        width: 100%;
        @include d-flex;

        // span {
        //   display: none;
        // }
      }
    }
    .line-container {
      padding: 0 32px;

      .header-bottom-line {
      }
    }
  }
}

/* ========header On screens that are 1280px or more ================================================= */
@media screen and (min-width: 1280px) {
  header {
    // background-color: $color-bg1;

    nav {
      // @include d-flex();
      @include container(0 auto, 64px 128px);

      * {
        @include menu-m;
        // color: $color-white;
        // text-decoration: none;
      }

      // a,
      // li {
      //   @include d-flex();
      //   justify-content: center;
      // }

      .logo {
        @include logo-m;

        span {
          @include logo-m;

          //   color: $color-brand1;
        }
      }
    }

    .nav-bar-right-side {
      // @include d-flex();
      max-width: 618px;
      // width: 100%;

      ul {
        // @include d-flex();
      }

      .nav-menu {
        max-width: 162px;
        // width: 100%;

        li:first-child a {
          // color: $color-brand1;
        }
      }

      .search-bar {
        width: 204px;
        height: 32px;
        background-color: $color-white;
        border: none;
        border-radius: 24px;
        @include d-flex();
        position: relative;

        input {
          width: 100%;
          height: 100%;
          border-radius: 24px;
          border: none;
        }

        button {
          border: none;
          height: 20px;
          @include d-flex();
          justify-content: center;
          border-radius: 24px;
          background: $color-white;
          position: absolute;
          right: 16px;
          cursor: pointer;
        }
      }

      .only-search-icon {
        display: none;
      }

      .social-links {
        // max-width: 124px;
        // width: 100%;
        // @include d-flex;

        // span {
        //   display: none;
        // }
      }
    }
    .line-container {
      padding: 0 128px;

      .header-bottom-line {
      }
    }
  }
}

/* ========header On screens that are 1920px or more ================================================= */
@media screen and (min-width: 1920px) {
  header {
    // background-color: $color-bg1;

    nav {
      // @include d-flex();
      // @include container(0 auto, 64px 128px);

      * {
        // @include menu-m;
        // color: $color-white;
        // text-decoration: none;
      }

      // a,
      // li {
      //   @include d-flex();
      //   justify-content: center;
      // }

      .logo {
        // @include logo-m;

        span {
          // @include logo-m;

          //   color: $color-brand1;
        }
      }
    }

    .nav-bar-right-side {
      // @include d-flex();
      max-width: 855px;
      // width: 100%;

      ul {
        // @include d-flex();
      }

      .nav-menu {
        max-width: 162px;
        // width: 100%;

        li:first-child a {
          // color: $color-brand1;
        }
      }

      // .search-bar {
      //   width: 204px;
      //   height: 32px;
      //   background-color: $color-white;
      //   border: none;
      //   border-radius: 24px;
      //   @include d-flex();
      //   position: relative;

      //   input {
      //     width: 100%;
      //     height: 100%;
      //     border-radius: 24px;
      //     border: none;
      //   }

      //   button {
      //     border: none;
      //     height: 20px;
      //     @include d-flex();
      //     justify-content: center;
      //     border-radius: 24px;
      //     background: $color-white;
      //     position: absolute;
      //     right: 0;
      //     cursor: pointer;
      //   }
      // }

      // .only-search-icon {
      //   display: none;
      // }

      .social-links {
        max-width: 361px;
        // width: 100%;
        // @include d-flex;

        span {
          @include d-flex();
          justify-content: center;
          @include media-m;
          padding-left: 8px;
        }
      }
    }
  }
}

// ========= Developer section
.developer-section {
  width: 100%;
  max-width: 1920px;
  @include container(0 auto, 64px 31px);
  background-color: $color-bg1;
  position: relative;

  h1 {
    display: none;
    @include bg-text-u;
    color: $color-brand2;
    text-align: center;
    margin: 64px 0;
  }

  .left-side-icons-list {
    max-width: 64px;
    min-height: 376px;
    border: 1px solid $color-white;
    border-radius: 40px;
    background-color: $color-bg2;

    // @include d-flex();
    display: none;

    flex-direction: column;
    padding: 8px 12px;
    position: fixed;
  }

  .developer-container {
    .profile-section {
      .profile-card {
        max-width: 320px;
        @include container(0 auto, 37px 22px 37px 24px);
        border: 4px solid $color-white;
        border-radius: 160px 0 160px 0;
        box-shadow: -4px -4px 2px 0px $color-brand1;

        .img-circle {
          width: 96px;
          height: 96px;
          @include container();
        }

        .name {
          @include logo-m;
          color: $color-white;
          text-align: center;
          margin-top: 16px;
        }

        .profession {
          @include code-m;
          color: $color-white;
          text-align: center;
        }
      }

      .contact-list {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        margin: 32px 0;

        li {
          @include d-flex();
          justify-content: start;
          column-gap: 18px;

          img {
            // margin-right: 18px;
          }

          p,
          a {
            @include code-m;
            color: $color-white;
          }
        }

        .tool-list {
          max-width: 231px;

          p {
            width: fit-content;
            height: fit-content;
            background-color: $color-brand1;
            border-radius: 8px;
            padding: 0 8px;
            color: $color-bg1;
          }
        }
      }

      button {
        min-width: 227px;
      }
    }
  }
}
